@font-face {
  font-family: RobotoLight;
  src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoRegular;
  src: url(./fonts/Roboto-Regular.ttf);
}

$primary: black;
$secondary: white;
$dark-blue: #006df0;
$blue: #00a9f0;
$light-blue: #00e7f0;
$main-font: RobotoLight;
$highlight-font: RobotoRegular;
$total-width: 100vw;
$margin-len: 9.3vw;

@mixin Separador {
  content: "";
  margin: 0;
  width: 0px;
  height: 0px;
  position: absolute;
  transform: translate(-50%, 0px);
  left: 50%;
}

:root {
  font-family: $main-font, sans-serif;
}

span {
  font-family: $highlight-font;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0px;
}

.separador {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10vh 0;

  &-sup {
    &::before {
      @include Separador;
      border-top: 10vh solid $blue;
      border-right: $total-width solid transparent;
      top: 0;
    }

    &-inv::before {
      @include Separador;
      border-top: 10vh solid $blue;
      border-left: $total-width solid transparent;
      top: 0;
    }
  }

  &-inf {
    &::after {
      @include Separador;
      border-bottom: 10vh solid $blue;
      border-left: $total-width solid transparent;
      bottom: 0;
    }
    &-inv::after {
      @include Separador;
      border-bottom: 10vh solid $blue;
      border-right: $total-width solid transparent;
      bottom: 0;
    }
  }
}

#portada {
  box-sizing: border-box;
  width: 100%;
  height: 87vh;

  & button {
    border-image: none;
    border-width: 0;
    display: flex;
    width: auto;
    padding: 2em;
    border-radius: 2em;
    height: 3em;
    background-color: #006df0;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    font-family: $highlight-font;
    font-size: 0.7em;
    align-items: center;
    margin-left: auto;
  }

  & a:-webkit-any-link {
    text-decoration: none;
    border-image: none;
    border-width: 0;
    display: flex;
    width: fit-content;
    padding: 0 1.2em;
    border-radius: 2em;
    height: 3em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: RobotoRegular;
    font-size: 0.8em;
    align-items: center;
    margin-left: auto;

    & img.contact-logo {
      object-fit: contain;
      height: 100%;
      width: auto;
      margin-right: 0.7em;
    }

    &#whatsapp {
      background-color: #196b11;
      color: white;
    }
  }

  & #saludo {
    text-align: right;
    font-weight: 300;
    position: absolute;
    transform: translate(0px, -25%);
    right: $margin-len;
    top: 35%;
    font-size: x-large;
    width: 35%;

    & h1 {
      margin: 0px;
      font-weight: inherit;
    }
  }

  & .background-img {
    object-fit: contain;
    height: 100%;
    max-width: 42vw;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
  }
}

#mis-habilidades {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;

  & > h1 {
    text-align: center;
    font-size: 10vh;
    font-weight: inherit;
    margin: 0px;
    margin-top: 10vh;
  }

  & > h3 {
    margin: 0;
    margin-top: 1em;
    font-size: 1.6em;
    font-weight: 300;
  }

  & > p {
    margin: 2em 0px;
  }
}

#habilidades {
  max-width: 115vh;
  min-height: 55vh;
  display: flex;
  flex-wrap: wrap;
}

.habilidad {
  box-sizing: border-box;
  padding: 1em;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;

  & .habilidad-img {
    display: flex;
    height: 100%;
    padding: 0px 1.5em;
  }

  & img {
    object-fit: contain;
    height: 7vh;
    margin: auto;
  }

  & .herramientas {
    display: flex;
    flex-wrap: wrap;
  }

  & span {
    font-size: smaller;
    font-weight: 300;
    background-color: $blue;
    color: $secondary;
    height: 1.6em;
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0px 0.7em;
    border-radius: 0.9em;
    margin: 0.2em;
  }

  & h3 {
    margin: 0px;
    margin-left: 0.4em;
    margin-bottom: 0.2em;
  }
}

footer.agradecimientos {
  width: 100%;
  background-color: #565656;
  color: #cacaca;
  display: flex;
  justify-content: center;
  text-align: center;

  & .container {
    margin: 1em;
    max-width: 28%;
  }

  & a:-webkit-any-link {
    text-decoration: none;
    font-family: $highlight-font;
    color: inherit;
  }
}

#about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;

  & .content {
    width: 40%;
  }

  & img {
    object-fit: contain;
    max-height: 60vh;
    max-width: 100%;
    opacity: 0.7;
  }
}

@media (max-width: 700px) {
  #portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & #saludo {
      top: 0;
      transform: initial;
      text-align: center;
      position: relative;
      width: 100%;
      right: 0;
      font-size: larger;
    }

    & .background-img {
      width: 100vw;
      position: relative;
      height: auto;
      max-width: 65%;
      transform: initial;
      left: 0;
      top: 0;
    }
  }

  #mis-habilidades {
    & > h1 {
      font-size: 7vh;
    }

    & > p {
      text-align: center;
    }
  }

  #habilidades {
    max-width: 90vw;
  }

  .habilidad {
    width: 100%;

    & span {
      font-size: 0.6em;
    }
  }

  #about {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: $margin-len;
    padding-right: $margin-len;

    & .content {
      width: 100%;
    }
  }

  footer.agradecimientos {
    flex-direction: column;

    & .container {
      max-width: 100%;
    }
  }
}
