@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary: black;
$secondary: white;
$dark-blue: #006df0;
$light-blue: #00e7f0;
:root {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px;
  padding: 0px 9.3vw;
}

#portada {
  width: 100%;
  height: 80vh;
  position: relative;

  & #saludo {
    text-align: right;
    font-weight: 300;
    position: absolute;
    transform: translate(0px, -25%);
    right: 0px;
    top: 35%;

    & h1 {
      font-size: 3em;
      margin: 0px;
      font-weight: inherit;
    }
  }
}

#mis-habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;

  & > h1 {
    font-size: 10vh;
    font-weight: inherit;
    margin: 0px;
  }

  & > p {
    margin: 2em 0px;
  }
}

#habilidades {
  max-width: 115vh;
  min-height: 55vh;
  display: flex;
  flex-wrap: wrap;
}

.habilidad {
  box-sizing: border-box;
  padding: 1em;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;

  & .habilidad-img {
    display: flex;
    height: 100%;
    padding: 0px 1.5em;
  }

  & img {
    object-fit: contain;
    height: 7vh;
    margin: auto;
  }

  & .herramientas {
    display: flex;
  }

  & span {
    font-size: smaller;
    font-weight: 300;
    background-color: $dark-blue;
    color: $secondary;
    height: 1.6em;
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0px 0.7em;
    border-radius: 0.9em;
    margin: 0px 0.2em;
  }

  & h3 {
    margin: 0px;
    margin-left: 0.4em;
    margin-bottom: 0.2em;
  }
}

@media (max-width: 700px) {
  #mis-habilidades {
    & > h1 {
      font-size: 7vh;
    }

    & > p {
      text-align: center;
    }
  }
  #habilidades {
    max-width: 90vw;
  }

  .habilidad {
    width: 100%;

    & span {
      font-size: 0.6em;
    }
  }
}
